<div id="container">
	<div class="section_block full_section">
		<h2>Directory Listing Search</h2>
		<div class="section_content">
			<%=form_tag({:action => 'advance_search'},{:name=>'multi_advance_search',:multipart => true,:method=>'get'}) do %>
			<div class="article_search_box text_box_fix">
				<div class="form_design">
					<div class="form_data ">
						<label for="text_head">Search :</label>
						<%= text_field :advance_search,:name ,:value=>"#{params[:advance_search][:name] if params[:advance_search] }",:class=>"input_text"%>
					</div>

					<div class="form_data ">
						<label for="text_head"> Premium :</label>
						<%if params[:advance_search] and not params[:advance_search][:premium].blank?%>
						<%= select_tag('advance_search[premium]',options_for_select([['All',''],['Premium',1],['NonPremium',0]],params[:advance_search][:premium].to_i),:class=>"search_select_box") %>
						<%else%>
						<%= select_tag('advance_search[premium]',options_for_select([['All',''],['Premium',1],['NonPremium',0]]),:class=>"search_select_box") %>
						<%end%>
					</div>
					<div class="form_data ">
						<label for="text_head">Status :</label>
						<%if params[:advance_search] and not params[:advance_search][:status].blank?%>
						<%= select_tag('advance_search[status]',options_for_select([['All',''],['Published',1],['Unpublished',0]],params[:advance_search][:status].to_i),:class=>"search_select_box") %>
						<%else%>
						<%= select_tag('advance_search[status]',options_for_select([['All',''],['Published',1],['Unpublished',0]]),:class=>"search_select_box") %>
						<%end%>
					</div>
				</div>
				<div class="form_design">
					<div class="form_data ">
						<label for="text_head">Category Name :</label>
						<td class="autocompletion_box" style="width: 255px;"> <%if params[:advance_search] and params[:advance_search][:categories]%>
						<% selected_field=@site.directory_listing_categories.find(params[:advance_search][:categories])%>
						<%= raw autocompletion_field("advance_search_categories",{:selected=>selected_field,:default_selection=>"Enter the Category Name"})%>
						<%#=autocompletion_field("advance_search_categories",options={:default_selection=>"Enter the Category Name",:empty_message=>"Category not found"})%>
						<%else%>
						<%= raw autocompletion_field("advance_search_categories",{:selected=>selected_field,:default_selection=>"Enter the Category Name"})%>
						<%#=autocompletion_field("advance_search_categories",options={:default_selection=>"Enter the Category Name",:empty_message=>"Category not found"})%>
						<%end%> </td>
					</div>
					<div class="form_data ">
						<label for="text_head">Location Name :</label>
						<td class="autocompletion_box" style="width: 255px;">
						<%if params[:advance_search] and params[:advance_search][:locations]%>
						<% selected_loc=@site.locations.find(params[:advance_search][:locations])%>
						<%= raw autocompletion_field("advance_search_locations",{:selected=>selected_loc,:default_selection=>"Enter the Location Name"})%>
						<%else%>
						<%= raw autocompletion_field("advance_search_locations",{:selected=>selected_loc,:default_selection=>"Enter the Location Name"})%>
						<%end%> </td>

					</div>

					<div class="button">
						<a href="javascript:void(0);" onclick="article_advanced_search();">Search</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<%if params[:page]==nil %>
<% i=1 %>
<%else %>
<%if params[:page]==1 %>
<% i=1 %>
<%else %>
<% i=(((params[:page].to_i*10)-10)+1) %>
<%end %>
<%end %>
<!--<div class="section_block full_section">-->
<div class="section_block full_section">
	<%#debugger%>
	<h2><%= "Directoy Listing List"%></h2>
	<!--<div class="section_content">-->
	<div class="right_section_head">
		<div class="common_listing_button">
			<ul>
				<li class="button">
					<%= link_to('New Directory Listing', :controller=>"admin/directory_listings",:action=>"new") %>
				</li>
			</ul>
		</div>
	</div>
	<!--  <div class="section_content">-->
	<div class="table_content">
		<table class="list" width="100%" cellspacing="0" cellpadding="0" border="0">
			<thead>
				<tr class="titlename">
					<th class="site_sn"> S/N </th>
					<%= sort_header_tag('name',:caption=>"Company Name",:class=>"list_table") %>
					<th> Categories </th>
					<th> Premium </th>
					<th> Status </th>
					<th></th>
				</tr>
			</thead>
			<tbody id='directory_listing_list'>
				<%= render :partial => "/admin/directory_listings/search_list" %>
			</tbody>
		</table>
		<!-- <div class="common_listing_button">
		<div class="button">
		<%#= link_to('New directory_listing', :controller=>"admin/directory_listings",:action=>"new") %>
		</div>
		</div>-->

	</div>
	<div id="editdirectory_listing_page" class="directory_listing_edit"></div>
</div>
</div>

<%end%>
