<h1>change password</h1>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_tag :controller => "users",:action => "new_password",:method=>"post",:id=>@user  do %>
    <p>
    <%= label_tag(:old_password, "old password:") %><br>
    <%= text_field_tag(:old_password) %>
      </p>

    <p>
    <%= label_tag(:old_password, "new password") %><br>
    <%= text_field_tag(:new_password) %>
      </p>
    <%= submit_tag("change") %>

<% end %>
