<%= javascript_include_tag "/autocomplete/auto_complete" %>
<%= stylesheet_link_tag '/autocomplete/themes/auto_complete/default' %>
<%= stylesheet_link_tag '/autocomplete/themes/shadow/auto_complete' %>
<div class="form_data">
	<%= error_messages_for_text_changes 'category' %>

</div>
<div class="form_data">
	&nbsp;

</div>
<div class="form_data">
	<label for="category_parent_id"> Parent Name: </label>

	<%if @category.blank?%>
	<%= collection_select 'category', 'parent_id',@site.categories.find(:all, :order => 'parent_id'), :id, :full_name, { :include_blank => true },:class=>'select_box' %>
	<%else%>
	<%= collection_select 'category', 'parent_id',@site.categories.find(:all, :order => 'parent_id').delete_if{|current_category| current_category==@category}, :id, :full_name, { :include_blank => true },:class=>'select_box' %>
	<%end%>

</div>
<div class="form_data">
	<label for="category_name"> Name: </label>

	<%= text_field 'category', 'name',:class=>'input_text' %>

</div>
<div class="form_data">
	<label for="category_alias_name"> Alias Name: </label>

	<%= text_field 'category', 'alias_name',:class=>'input_text' %>

</div>
<!--tr>
<td>
<label for="category_sequence_number">
Sequence Number:

</label>

<%= text_field 'category', 'sequence_number',:class=>'input_text' %>

</tr-->
<div class="form_data">
	<label for="token-input-category_site_id"> Site Name: </label>
	<%= raw autocompletion_field("menu_site_list",{:selected=>@site})%>
</div>

<%if params[:action]=="edit"%>
<div class="form_data">
	<label for="site_name"> </label>
	<%= link_to "Autonomy Categorization",:controller=>"categories",:action=>"autonomy_categorization",:id=>@category.id%>

</div>
<%end%>
