<script src="/javascripts/jquery/jquery-1.5.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
<script src="/javascripts/jquery.fcbkcomplete.js" type="text/javascript"></script>
<%= javascript_include_tag 'new_admin'%>
<%= stylesheet_link_tag 'jquery/jquery-ui-dialog','new_pages','article_new.css','article.css','ddsmoothmenu.css','date-picker','fcbkcomplete_style','jquery-ui'%>
<div class="section_block right_section_asset">
	<h2 class="headBG">Asset Upload</h2>
	<div class="section_content">
		<div class="box_image_search">
			<%= form_tag({:action => 'create'},{:name=>'assets' ,:id=>"asset",:multipart => true}) do %>
			<table id="asset_form">
				<tr>					
					<%= hidden_field_tag "article_doc_upload",params[:article_doc_upload]%>
					<div class="form_data">
					  <label for="text">Document Path :</label>					
					  <input type="file" size="20" name="digital_asset[document_path]" id="digital_asset_document_path" class="input_text">
				    </div>
				</tr>
				<tr>
					<div class="form_data">
					  <label for="text">Display Name :</label>
					  <%= text_field :digital_asset, :display_name,:class=>'input_text',:size=>30 %>
                    </div>
				<tr>
					<div class="form_data">
					  <label for="text">Description :</label>
					  <%= text_area :digital_asset, :description,{:rows => 7, :cols => 40,:class=>"textarea_text"} %>
					</div>  
				</tr>
				<tr>
					<div class="form_data">
					  <label for="text">Source :</label>
					  <%= collection_select :digital_asset, :source_id,@site.sources, :id,:alais_name,options={:prompt=>'Select'},:class=>"select_box"%>
					</div>  
				</tr>
				<tr>
					<div class="form_data">
					  <label for="text">Protected :</label>
					  <%= check_box :digital_asset, :protected,{},true,false %>
					</div>  
				</tr>
				<tr>					
					<div class="common_button_parent">
						<%if params[:article_doc_upload]!="article_asset"%>
						<div class="button">
						  <%=link_to('Cancel','javascript:void(0)',"class"=>"cancel_digital") %>
						</div>
						<%end%>
						<div class="button">
							<% digital_asset_names=@site.digital_assets.collect(&:name).join(',').gsub(/[']/, '\\\\\'')%>
                                <%= link_to('Upload', 'javascript:void(0)',"data-type" => 'new',"data-url" => "/ngxassets/admin/digital_assets/create","class" => "submit_form_digital","data-fname" => "assets", :id=>"save_digital_assest_02") %>

							<%#=link_to('Upload', 'javascript:void(0)', :onclick => "javascript:submit_document('#{digital_asset_names}');")%>
						</div>
					</div>					
				</tr>
			</table>
			<%end %>
		</div><!--box_image_search-->
	</div><!--section_content-->
</div><!--section_block right_section_asset-->

<script type="text/javascript">
$("#save_digital_assest_02").click(function(){
var file_browser = $('#digital_asset_document_path').attr('value');
        if(file_browser==""){
                alert('Please upload the document');
                return false;
        }
else{
  var form_id = jQuery(this).parents("form").attr("id");
  var id=$(this).attr("id");
  var data_url =$('#'+id).data('url');
  var form_name=$('#'+id).data('fname');
  $('form[name='+form_name+']').attr("action", data_url);
  $('form[name='+form_name+']').submit();
 //  $("#asset").submit();
}
});

$('.cancel_digital').click(function(){
parent.jQuery.fn.colorbox.close(); 
});

</script>
