<% @site=Site.find(session[:site_id])%>
<%if @section_type=="spotlight"%>
<ul>
	<li class="button">
		<%if params[:action] == "new"%>
		<%= link_to('Save', 'javascript:void(0)', :class => "save_and_publish_spotlight","date-type" => 'new',"data-url" => "cd b")  %>
		<%else%>
		<%= link_to('Save', 'javascript:void(0)', :class => "save_and_publish_spotlight","data-type" => 'edit',"data-url" =>{:controller=>'admin/article',:action=>'save_and_publish_spotlight'} ) %>
		<%end%>
	</li>
	<li class="button">
		<%= link_to('Preview', 'javascript:void(0)', :onclick => "javascript:submit_preview_static_page('http://#{@site.master_site}/preview_article');remove_target();")  %>
	</li>

	<%else%>
	<li class="button">
		<%if params[:action] == "new" or params[:action] == "copy_article" or params[:action]== "create" or @article.new_record?%>
		<%= link_to('Save as draft', 'javascript:void(0)',"data-type" => 'new',"data-url" => "/admin/articles/create?commit=save_as_draft","class" => "submit_form","data-fname" => "article", :id=>"Save_as_draft_01")%>
		<%else%>
		<%= link_to('Save as draft', 'javascript:void(0)',"data-type" => 'edit',"data-url" => "/admin/articles/update?commit=update_as_draft","class" => "submit_form","data-fname" => "article", :id=>"Save_as_draft_#{@article.id}") %>
		<%end%>
	</li>
           <% if !@user.blank? and !@user.roles.blank? and (@user.roles.by_site(@site).collect(&:name).include?("Content Admin") ||@user.roles.by_site(@site).collect(&:name).include?("Author") || @user.roles.by_site(@site).collect(&:name).include?("Content Writer")) %>
	<li class="button">
		<%if @section_type!="static-fragment"%>
		<%if params[:action] == "new" or params[:action] == "copy_article" or params[:action] == "create" or @article.new_record?%>
		<%= link_to('Save and request publish', 'javascript:void(0)',"data-type" => 'save',"data-url" => "/admin/articles/create?commit=save","class" => "submit_form","data-fname" => "article", :id=>"Save_and_request_publish_01")%>
		<%else%>
		<%= link_to('Save and request publish', 'javascript:void(0)',"data-type" => 'save',"data-url" => "/admin/articles/update?commit=save","class" => "submit_form","data-fname" => "article", :id=>"Save_and_request_publish_01")%>
		<%end%>
		<%end%>
	</li>
        <% end %>
          <%if !@user.blank? and !@user.roles.blank? and !@user.roles.by_site(@site).blank? and (@user.roles.by_site(@site).collect(&:name).include?("Content Admin") ||@user.roles.by_site(@site).collect(&:name).include?("Author") || @user.roles.by_site(@site).collect(&:name).include?("Content Publisher")) %>
	<li class="button">
		<%if params[:action] == "new" or params[:action] == "save_and_publish" or params[:action] == "copy_article" or params[:action]=="create" or @article.new_record?%>
		<%= link_to('Save and publish', 'javascript:void(0)',"data-type" => 'new',"data-url" => "save_and_publish","class" => "submit_form","data-fname" => "article", :id=>"save_publish_01") %>
                <% elsif @article.waiting_for_approval%>
                <%= link_to('Update and publish', 'javascript:void(0)', "data-type" => 'edit', "data-url" => "/admin/articles/update_and_publish", "class" => "submit_form", "data-fname" => "article", :id => "update_and_publish_#{@article.id}") if  (@user.roles.by_site(@site).collect(&:name).include?("Content Admin") ||@user.roles.by_site(@site).collect(&:name).include?("Author")) %>
		<%else%>
		<%= link_to('Update and publish', 'javascript:void(0)',"data-type" => 'edit',"data-url" => "/admin/articles/update_and_publish","class" => "submit_form","data-fname" => "article", :id=>"update_and_publish_#{@article.id}") %>
		<%end%>
	</li>
        <% end %>
	<li class="button">
		<%if @article.new_record?%>
		<%= link_to('Preview', 'javascript:void(0)',:class=>"preview_select_new","data-url"=>"http://#{@site.name}/preview_article","data-preview"=>"/admin/articles/update_time")%>
		<%else%>
		<%if @section_type!="static-fragment"%>
		<%unless @page_properties[:selected_menu]=="dynamic_articles" %>
		<td class="list_table"> <%if @page_properties[:selected_menu]!="static_articles" %>
		<%= link_to('Preview', 'javascript:void(0)',:class=>"edit_article_preview","data-url"=>"http://#{@site.name}/preview_article","data-preview"=>"/admin/articles/update_time","data-id"=>"#{@article.id}")%>
		<%elsif article.section.name=="static-page" %>
		<%= link_to('Preview', 'javascript:void(0)',:id=>@article.id, :class=>"preview_select",:url => "http://preview_static_page?page_name=#{@article.url_part}")%>
		<%end %>
		<%end%>
		<%end%>
		<%end%>
	</li>
	<!-- <li class="button">
		<a href="javascript:void(0);" onclick='window.open("/admin/articles/show_all_histories/<%= @article.id%>","mywindow","width=1000,height=900,scrollbars=yes");'>History</a>
	</li> -->
	
	<li class="button">
		<%if @page_properties[:selected_menu]=="static_articles"%>
		<%= link_to('Cancel',{:controller=>'admin/articles',:action => 'static_articles'}) %>
		<%elsif @page_properties[:selected_menu]=="dynamic_articles"%>
		<%= link_to('Cancel',{:controller=>'admin/articles',:action => 'dynamic_articles'}) %>
		<%else%>
		<%= link_to('Cancel',{:controller=>'admin/articles'}) %>
		<%end%>
	</li>
	
	<li class="button">
		<%if not @article.new_record?%>
		<%if @article.published?%>
		<%= link_to('Unpublish', 'javascript:void(0)',"data-type" => 'edit',"data-url" => "/admin/articles/update?commit=unpublish","class" => "submit_form","data-fname" => "article", :id=>"unpublish_#{@article.id}") %>
		<%#= link_to('Unpublish', '#', :onclick => "javascript:article_unpublish(type='unpublish','articles');") %>
		<%end%>
		<%end%>
		<%unless @article.new_record?%>
	</li>
	

	<%end%>
	
	
	<div id="preview_article">
		<%= hidden_field_tag "check_submitted_time",Time.now%>
		<%= hidden_field_tag "submitted"%>
	</div>
	<%end%>

	        <script type="text/javascript">
                $(function() {
                        $('.preview_select_new').click(function() {
                                var url = $(this).attr('data-url');
                                var preview_url = $(this).attr('data-preview')
                                $.ajax({
                                        type : 'POST',
                                        data : 'html',
                                        beforeSend : function(xhr) {
                                                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                        },
                                        url : preview_url,
                                        success : function(data) {
                                                submit_preview(url);

                                        },
                                        complete : function(data) {
                                                submit_preview(url);
                                                remove_target();
                                        }
                                });
                                return false;
                        });
                });

                function submit_preview(action) {
                        var section_id = $('#article_section_id option:selected').attr("value");
                        //var source_id = $('#article_source_id option:selected').attr("value");
                        var title = $('#article_title').attr("value");
                        var source_id = $('#article_source_id').attr("value");
                        if (section_id == "" || section_id == null) {
                                alert("Please select the content type to view the article")
                                // return false;
                        } else if (source_id == "" || source_id == null) {
                                alert("Please select the source to view the article")
                                // return false;
                        } else if (title == "" || title == null){
                           alert("Please add the title for the article")
                           
                        } else {
                          //    window.open(action,"preview","toolbar=no,scrollbars=yes,width=1050px,height=700,resizable=yes ");
                                var target = $("#new_article");
                                target.attr("target", "TheWindow");
                                target.attr("action", action);
                                //alert(action)
                                window.open(action, 'TheWindow',"toolbar=no,scrollbars=yes,width=1050px,height=700,resizable=yes ");
                                target.submit();
                        }

                }

                function remove_target() {
                        $(".formtastic.article").removeAttr('target');
                }
        $(function (){
                
                $('.submit_form').click(function(){
                        remove_target();
                })
        });

                $(function() {
                        $('.edit_article_preview').click(function() {
                                var url = $(this).attr('data-url');
                                var preview_url = $(this).attr('data-preview');
                                var id = $(this).attr('data-id');
                                $.ajax({
                                        type : 'POST',
                                        data : 'html',
                                        beforeSend : function(xhr) {
                                                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                                        },
                                        url : preview_url,
                    success : function(data) {
                                                  //submit_preview_edit(url,id);
                             submit_preview(url)
                                                 // remove_target()
                     },
                     complete : function(data) {
                     submit_preview_edit(url,id)
                     remove_target();
                    }           
                                });
                                return false;
                        });
                });

                function submit_preview_edit(action,id) {
                        var section_id = $('#article_section_id option:selected').attr("value");
                        var source_id = $('#article_source_id option:selected').attr("value");
                        if (section_id == "" || section_id == null) {
                                alert("Please select the content type to view the article")
                                 return false;
                        } //else if (source_id == "" || source_id == null) {
                        //      alert("Please select the source to view the article")
                                // return false;
                        //} 
                        else {
                   //  window.open(action,"preview","toolbar=no,scrollbars=yes,width=1050px,height=700,resizable=yes ");
                                 var target = $("#edit_article_"+id);
                                 target.attr("target", "TheWindow");
                                 target.attr("action", action);
                                // //alert(action)
                                window.open(action, 'TheWindow',"toolbar=no,scrollbars=yes,width=1050px,height=700,resizable=yes ");
                                target.target = 'TheWindow'
                                target.submit();
                                 
                                
                        }

                }
        </script>

