
<%= form_tag({:action => 'advance_search',:multipart => true,:method=>'get'},:name=>'multi_advance_search') do %>
<%= hidden_field_tag "art","path",:value=>@article_path%>
<div class="validation_box">
	<% @site = Site.find(session[:site_id])%>
	<%= error_messages_for :article ,:header_message=>"Article cannot be searched due to the following errors" %>
</div>

<div class="section_block full_section">
	<h2>Article Search</h2>
	<div class="search_fields">
		<p>
			<label for="search_data_title">Search Article:</label>
			<%if params[:search_data]%>
			<%= text_field_tag 'search_data[title]' ,params[:search_data][:title]%>
			<%else%>
			<%= text_field_tag 'search_data[title]'%>
			<%end%>
		</p>
		<p>
			<label for="content">Content Type:</label> <% if @article_path=="static_page"%>
			<% @sections=@site.static_sections.delete_if{|section| section.name=="dynamic-page"}%>
			<%elsif @article_path=="dynamic_page"%>
			<% @sections=@site.static_sections.find_all_by_entity_type_and_name("Static","dynamic-page")%>
			<%else%>
			<% @sections=@site.sections.order_by_name %>
			<%end%>
			<%if not @selected_section.blank?%>
			<%= raw collection_select_with_current_obj("search_data","section_id",@sections,"id","name",@selected_section.id,"All",{})%>
			<%else%>
			<%= raw collection_select_with_current_obj("search_data","section_id",@sections,"id","name","","All",{})%>
			<%end%>
		</p>
		<p>
			<label for="search_data_status">Status:</label> <%= select('search_data','status',[['All',''],['Published','published'],['Unpublished','unpublished'],['Expired','expired'],['Draft','draft'],['Embargoed','inembargo'],['For Approval','waiting_for_approval']],{:selected=>"#{params[:search_data][:status] if params[:search_data] and params[:search_data][:status]!=''}"}) %>
		</p>
		
		<div class="button">
			<input class="submit blue_submit" type="submit" value="Search" />
		</div>
		<!-- <div class="article_advance_button">
			<%#= link_to("Advanced Search","javascript:void(0)",:class=>"advance_search_panel settextcolor fontbold article_advanced",:id=>"advance_search_01","data-param"=>"advance_search","data-update"=>"search_form","data-url"=>"/admin/articles/advance_search_view")%>
			<%#= link_to(image_tag("/images/new_button/down_arrow.png", :alt => "no_image_available"),"javascript:void(0)",:class=>"advance_search_panel settextcolor fontbold article_advanced",:id=>"advance_search_01","data-param"=>"advance_search","data-update"=>"search_form","data-url"=>"/admin/articles/advance_search_view")%>
		</div> -->
		 <div class="button advance_search article_advance_button">
           <a href="javascript:void(0)" class="advance_search_panel_hide" data-param="advance_search" data-update="search_form_text" data-url="/admin/articles/advance_search_view" id="advance_search_01">Advanced Search</a>
        </div>
		
					
		<div id="search_form">
			<%#= render :partial=>"/admin/articles/article_advance_search"%>
			<%if params[:search_data]%>
			<%if params[:search_data][:site_ids]!=nil or params[:search_data][:category_ids]!=nil or params[:search_data][:tag_ids]!=nil or params[:search_data][:author_ids]!=nil or params[:search_data][:publish_date]!=nil or params[:search_data][:expiry_date]!=nil or params[:search_data][:volume_and_issue]!=nil%>
			<%= render :partial=>"/admin/articles/article_advance_search"%>
			<%end%>
			<%end%>
		</div>
	</div>
	<!-- search_fields -->
</div>
<!-- search block -->
<%end%>
<% if flash[:notice] %>
<div class="article_notice">
	<h3><%= h flash[:notice] %></h3>
</div><% end %>
<%= content_tag(:div, flash[:copy_article_error], :class => 'ranked_list_notice') if flash[:copy_article_error] %>

<% article_list = SrComponent.find_component_by_name('article_list')%>
<% article_list[:header] = @site.sources.length > 1 ? ['Article ID','Title','Content type','Status','Author','Last Modified','Preview'] : ['Article ID','Title','Content type','Status','Author','Last Modified','Preview']%>
<%= @search ? component_table_list(SrComponent.find_component_by_name("article_search"))	: component_table_list(article_list) %>

<script type="text/javascript">
jQuery(document).ready(function () {
		  jQuery('#txtarea1').bind('keyup', function() {
		   var cnt = $(this).val().length;
		   jQuery('#counter1').html(cnt);
        });
});	
	</script>
