<div class="section_block full_section">
        <h2><%= @page_properties[:menu_title] %></h2>
<div class="section_content">
  <div class="table_content">
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="list" id='<%=xhtml_id%>'>
    <thead>
        <tr class="titlename">

			<%  sort_init args[:sort_list]
			    sort_update
			%>
            <% args[:header].each do |header_title| %>
	            <% sort_list = args[:sort_list]%>
				<%= (sort_list and sort_list.include?(header_title)) ? sort_header_tag("#{sort_list[header_title]}", :caption => "#{header_title}", :class => "list_table") : content_tag(:th, header_title) %>
            <%end%>	
			<%if args and args[:partial]=="/admin/users/site_user"%>		
			 <% sort_list = args[:sort_list]%>
			<th><%site_name_header= "Role on Siteww : #{((params[:site_user] and params[:site_user][:site_id]) ? Site.find(params[:site_user][:site_id]).short_name : (params[:site_id].blank? ? @site : Site.find_by_id(params[:site_id])).short_name).humanize}"%>
			<%= site_name_header%>
		    </th>
		   <%end%>
        </tr>
    </thead>
	<tbody>
	    <%=draw_inner %>
    </tbody>

    <tfoot>
	    <tr class="for_pagination">
			<td colspan="8">
				<% if args[:pagination] and not args[:data].blank? and not args[:data].class==String %>
			 		<div class = "pagination_bar">
			 			<div class = "needAjaxRae">
			   			<%#= previous_next_listing_page_existing((args[:data]),{:page_links=>false}) %>
                                                <%= previous_next_listing_page((args[:data]),{:page_links=>false}) %>
			   			</div>
			        </div>
				<% end %>
		    </td>
		</tr>
    </tfoot>
</table>
 </div>
 </div>
 </div>
 </div>
