<div id="container" style="padding-top: 20px;">
	<div class="section_block full_section">
		<h2><%= @page_properties[:menu_title] %></h2>
		
			<% if @article_content and @article.created_at %>
        <div class="article_author_box edit_article">
          <p class="author_description">
            <span class="fontbold">Created:</span>
            <%= @article.created_at.strftime("%d.%m.%y") %> at <%= @article.created_at.strftime("%H:%M") %>
            <span class="settextcolor">
        <% if @article.created_by %>
          by <%= "#{User.find(@article.created_by).firstname} #{User.find(@article.created_by).lastname}" %>.
        <% else %>
            <% article_author=@article.authors.first %>
                  <% if article_author!=nil %>
                  by  <%= "#{article_author.firstname} #{article_author.lastname}" %>.
             <% end %>
        <% end %>
        </span>

            <span class="fontbold">Last modified:</span>
            <%= @article.updated_at.strftime("%d.%m.%y") if @article.updated_at %>
            at <%= @article.updated_at.strftime("%H:%M") if @article.updated_at %> <span class="settextcolor">
        <% if @article.updated_by %>
           by <%= "#{User.find(@article.updated_by).firstname} #{User.find(@article.updated_by).lastname}" %>.
        <% else %>
           <% article_author=@article.authors.first %>
                <% if article_author!=nil %>
                 by   <%= "#{article_author.firstname} #{article_author.lastname}" %>.
             <% end %>
        <% end %>
        </span>
          </p>
        </div>
    <% end %>
		
		
		
		
		
		
		
		<div class="article_new_main">
			<%= semantic_form_for  ([:admin,@article]),:method => "post",:html =>{:name =>"static_article"} do |f| %>
			<div class="article_top_links">
				<!-- <div class="common_button_parent">-->
				<%= render :partial => 'create_edit_buttons'%>
			</div>
			<div class="validation_box">
				<%= raw error_messages_sorted(@article)%>
			</div>
            <%unless @article.new_record?%>
			<input type="hidden" value= <%= @article.id%>
			name="article[id]" class="hidden_style">
            <%end%>
			<input type="hidden" value=<%= @site.id%> name="article[site_ids]" id="article_site_ids" class="hidden_style">
			<div class="article_left_section">
				<div class="form_data">
					<label for="article_title">Title <span>*</span>:</label>
					<%= text_field 'article', 'title',:class=>'input_text',:size=>30,:flash=>true,:value=>(@article and @article.title) %>
				</div>
     			<%=hidden_field_tag "entity_type",@section_type%>
				<div class="form_data">
					<label for="article_sub_title">Sub Title:</label>
					<%= text_field 'article', 'sub_title',:class=>'input_text',:size=>24,:value=>(@article and @article.sub_title) %>
				</div>
				<div class="form_data">
					<label for="text_head">Summary:</label>
					<!--<textarea id="text_head" class="textarea_text"></textarea>-->
					<%= text_area 'article', 'description', {:rows => 2, :cols => 40,:id=>"text_head",:class=>"textarea_text",:value=>(@article and @article.description)} %>
				</div>

				<div class="form_data" style="display:none;">
					<label for="token-input-article_author_id">Author Name:</label>
					<% selected_authors = ( @article_content and !@article_content.article_content_authors.blank?) ? @article_content.article_content_authors.collect{|aa| Author.find(aa.author_id) unless aa.author_id.blank?}.uniq : Array(Author.find_by_user_id(2))  %>
					<%= raw autocompletion_field("article_author",{:selected=>selected_authors,:default_selection=>"Enter the Author Name"})%>
				</div>

				<input type="hidden" name="article[section_id]" value=<%= Section.find_by_name('static-page').id%>>
				<input type="hidden" name="section_type" value='static-page'>
				<input type="hidden" name="article[site_ids]" value=<%= @site.id%>>
				<!--input type="hidden" name="article[id]" value=<%#= params[:id]%>-->
				<div class="form_data"style="display:none;">
					<label for="article_author_alias">Author Alias:</label>
					<%= text_field 'article', 'author_alias',:class=>'input_text',:size=>24%>
				</div>
				<div class="form_data">
					<label for="article_url_part">Page Slug:</label>
					<%if params[:action]=="new"%>
						<%= text_field 'article', 'url_part',:class=>'input_text',:size=>24 %>
					<%elsif params[:action]=="edit"%>
						<%= text_field 'article', 'url_part',:class=>'input_text',:size=>24 ,:readonly=>true%>
					<%end%>
				</div>
				<%if false%>
				<div class="form_data">
					<label for="text_head">Region:</label>
					<%= text_field 'article', 'region',:class=>'input_text',:size=>30,:value=>(@article and @article.region) %>
				</div>
				<div class="form_data">
					<label for="text_head">Meta Keywords:</label>
					<%= text_field 'article', 'meta_keywords',:class=>'input_text',:size=>30,:value=>(@article and @article.meta_keywords) %>
				</div>
				<div class="form_data">
					<label for="text_head">Meta Description:</label>
					<%= text_area 'article', 'meta_description', {:rows => 7, :cols => 40,:class=>"input_text",:value=>(@article and @article.meta_description)} %>
				</div>
				<%end%>

				<div class="form_data">
					<label for="text_head">Title Image:</label>
					<div class="article_title_rgt">
						<div class="no_image">
							<div class="img_block">
								<% if @article && @article.image %>
								<div id="no_image" style="display:none;">
									<a rel=1 href="javascript:void(0)" data-url="/admin/image_details/imageset_list?popup=true" onclick="image_popup(this)" />
									<img width="100" height="80" src="/images/no_image_available_large.gif" alt="no_image_available"></a>
								</div>
								<div id="prev" style="vertical-align:center;width:100px" >
									<% @image = @article.image if @article%>
									<% img=Image.find(:first,:conditions=>["id=?",@article.image.image_id])%>
									<%= image_tag(img.get_image(80, 80, 'square').image_path, :alt => @image.alt_tag)%>
								</div>

								<% end %>
								<% if !@article %>
								<div id="no_image">
									<a rel=1 href="javascript:void(0)" data-url="/admin/image_details/imageset_list?popup=true" onclick="image_popup(this)" />
									<img width="100" height="80" src="/images/no_image_available_large.gif" alt="no_image_available"></a>
								</div>
								<div id="prev" style="vertical-align:center;width:296px" ></div>
								<% end %>
								<% if @article && !@article.image %>
								<div id="no_image">
									<a rel=1 href="javascript:void(0)" data-url="/admin/image_details/imageset_list?popup=true" onclick="image_popup(this)" />
									<img width="100" height="80" src="/images/no_image_available_large.gif" alt="no_image_available"></a>
								</div>
								<div id="prev" style="vertical-align:center;width:296px" ></div>
								<% end %>

							</div><!--img_block-->
						</div><!--no_image-->
						<div class="article_img_text">
							<% @image = @article.image if @article%>
							<%if @image == nil%>
							<% style = "block"%>
							<%= hidden_field 'image_property','image_id',:name=>'article[image_property][image_id]' %>
							<%else%>
							<% style = "none"%>
							<%= hidden_field 'image_property','image_id',:value=>@article.image.image_id,:name=>'article[image_property][image_id]' %>
							<%end%> <div id="prev_image"></div>
							<% if @article %>
							<%if @article.image!=nil%>
							<%if @article.image!=nil and @article.image.image_id!=nil%> <span id="gen_image"> <% img=Image.find(:first,:conditions=>["id=?",@article.image.image_id])%>
								<%if img and img.thumbnail%>
								<table>
									<tr>
										<td> <%#= image_tag(img.get_image(80, 80, 'square').image_path, :alt => @image.alt_tag)%> </td>
										<td><label for="text_head">Caption :</label></td>
										<td> <%= img.caption%> </td>
									</tr>
								</table> <%end%> </span>
							<div id="change_link_add_image" style="display:none;">
								<a href="javascript:void(0);" data-url="/admin/image_details/add_image_from_article?popup=true" onclick="image_popup(this)">Browse My Computer</a>
							</div>
							<div id="change_link" style="display:none;">
								<a rel=1 href="javascript:void(0)" data-url="/admin/image_details/imageset_list?popup=true" onclick="image_popup(this)">Add from Repository</a>
							</div>
							<div id="imageset_caption" style="display: block;">
								Title ImageSet Caption override :
								<%= text_field "image_property",:class=>"input_text",:value=>@article.image.caption,:name=>'article[image_property][caption]'%>
							</div>
							<div id="change_link123" style="display: block;">
								<a href="javascript:void(0);" class="remove_image" >Remove</a>&nbsp;&nbsp; <a href="javascript:void(0);" data-url="/admin/image_details/imageset_list?popup=true" onclick="image_popup(this)">Change</a>
								<!-- <a href="/admin/image_details/edit_imageset/?flag=popup&id="  rel="1" class="title_image_newwindow">Edit</a> -->
							</div>
							<div id="set_preference" style="display: block;">
								<a href="javascript:void(0);" onclick="set_preference()">Set ImageSet display preferences</a>
							</div>
							<% @image_property = @article.image%>
							<div id="preference_setup" style="display:none">
								<div class="image_checkbox">
									<%= check_box(:image_property,:display_preference,{:id=>"dont_display",:name=>"dont_display"},"hide_image") %><label>Don't display on article page</label>
								</div>
								<div class="image_checkbox">
									<%= check_box(:image_property,:display_preference,{:id=>"cust_img",:name=>"cust_img"},"customise_image") %><label>Customise on article page</label>
								</div>
							</div>
							<div id="image_customise" style="<% if @image_property.display_preference != "customise_image"%>display:none;<%end%>">
								<div style="margin-bottom:10px;margin-top:10px;">
									<%= select( 'image_property', 'customise_scenery', ["Landscape","Portrait","Square"],{},:class=>"input_text",:name=>"article[image_property][customise_scenery]") %>
								</div>
								<div style="margin-top:10px;">
									<%= select( 'image_property', 'customise_size', ["Large","Medium","Small"],{},:class=>"input_text",:name=>"article[image_property][customise_size]") %>
								</div>
							</div>
							<%end%>
							<%else%> <!-- article image not nil -->
							<div id="change_link_add_image" >
								<a href="javascript:void(0);" data-url="/admin/image_details/add_image_from_article?popup=true" onclick="image_popup(this)">Browse My Computer</a>
							</div>
							<div id="change_link" >
								<p>
									<a rel=1 href="javascript:void(0)" data-url="/admin/image_details/imageset_list?popup=true" onclick="image_popup(this)">Add from Repository</a>
								</p>
							</div>
							<div id="imageset_caption"  style="display: none;">
								Title ImageSet Caption override :<%= text_field "image_property","caption",:class=>"input_text",:name=>'article[image_property][caption]'%>
							</div>
							<div id="change_link123"  style="display: none;">
								<a class="remove_image" >Remove</a>&nbsp;&nbsp; <a href="javascript:void(0);" data-url="/admin/image_details/imageset_list?popup=true" onclick="image_popup(this)">Change</a>
								<!-- <a href="/admin/image_details/edit_imageset/?flag=popup&id="  rel="1" class="title_image_newwindow">Edit</a> -->
							</div>
							<div id="set_preference" style="display: none;">
								<a href="javascript:void(0);" >Set ImageSet display preferences</a>
							</div>
							<div id="preference_setup" style="display: none;">
								<div class="image_checkbox">
									<%= check_box(:image_property,:display_preference,{:id=>"dont_display",:name=>"dont_display"},"hide_image") %><label>Don't display on article page</label>
								</div>
								<div class="image_checkbox">
									<%= check_box(:image_property,:display_preference,{:id=>"cust_img",:name=>"cust_img"},"customise_image") %><label>Customise on article page</label>
								</div>
							</div>
							<div id="image_customise" style="display:none;">
								<div style="margin-bottom:10px;margin-top:10px;">
									<%= select( 'image_property', 'customise_scenery', ["Landscape","Portrait","Square"],{},:class=>"input_text",:name=>"article[image_property][customise_scenery]") %>
								</div>
								<div style="margin-top:10px;">
									<%= select( 'image_property', 'customise_size', ["Large","Medium","Small"],{},:class=>"input_text",:name=>"article[image_property][customise_size]") %>
								</div>
							</div>
							<%end%> <!--<p><a href="/">Add ImageSet</a></p>-->
							<% else %>
							<div id="change_link_add_image" >
								<a href="javascript:void(0);" data-url="/admin/image_details/add_image_from_article?popup=true" onclick="image_popup(this)">Browse My Computer</a>
							</div>
							<div id="change_link" >
								<a href="javascript:void(0);" data-url="/admin/image_details/imageset_list?popup=true" onclick="image_popup(this)">Add from Repository</a>
							</div>
							<div id="imageset_caption" style="display:none;">
								Override the image caption :<%= text_field "image_property","caption",:class=>"textBoxWidth",:name=>'article[image_property][caption]'%>
							</div>
							<div id="change_link123" style="display:none;">
								<a href="javascript:void(0);" onclick="remove_image()">Remove</a>&nbsp;&nbsp; <a href="javascript:void(0);" data-url="/admin/image_details/imageset_list?popup=true" onclick="image_popup(this)">Change</a>
							</div>
							<div id="set_preference" style="display:none;">
								<a href="javascript:void(0);" onclick="set_preference()">Set ImageSet display preferences</a>
							</div>
							<div id="preference_setup" style="display:none;" >
								<div class="image_checkbox">
									<%= check_box(:image_property,:display_preference,{:id=>"dont_display",:name=>"dont_display"},"hide_image") %><label>Don't display on article page
								</div></label>
								<div class="image_checkbox">
									<%= check_box(:image_property,:display_preference,{:id=>"cust_img",:name=>"cust_img"},"customise_image") %><label>Customise on article page</label>
								</div>
							</div>
							<div id="image_customise" style="display:none;">
								<div style="margin-bottom:10px;margin-top:10px;">
									<%= select( 'image_property', 'customise_scenery', ["Landscape","Portrait","Square"],{},:class=>"textBoxWidth",:name=>"article[image_property][customise_scenery]") %>
								</div>
								<div style="margin-top:10px;">
									<%= select( 'image_property', 'customise_size', ["Large","Medium","Small"],{},:class=>"textBoxWidth",:name=>"article[image_property][customise_size]") %>
								</div>
							</div>
							<% end %>
						</div>
					</div>
				</div><!--form_data-->
			</div><!--article_left_section-->
				<div class="article_right_section">
					<div class="articlecolumnRight" id="parentTinymce">

<form method="post" action="somepage">
						<textarea id="tinyid_1" name="article[pages_content][][content]" rows ="50" cols ="1" class="mceEditor" style='width:100%;'><%= @article_content.content_with_asset if @article_content%></textarea>
						<!-- <textarea id="myarea1" class="mceEditor">This will be an editor.</textarea> -->
						</div>
						</div>
						<div class="section_block full_section footer_full_section_block">
						<div class="footer_editing_notes">
                         <div class="footer_editing_top">
						<ul>
							<li class="publish_li">
								<label for="article_publish_date_id">Publish Date:</label>
							</li>
							<li>
								<%= raw datetimepicker_input(:article, :publish_date, {:minDate => -20, :maxDate => "+1M +10D", :tabindex => 70}) %>
							</li>
						</ul>
					</div><!--footer_editing_top-->
						
								<div class="footer_editing_second exp_footer">
									<ul>
										
										<li>
											<label for="article_display_date_id">Display Date:</label>
										</li>
										<li>
											<%= raw datetimepicker_input(:article, :display_date,{:minDate => -20, :maxDate => "+1M +10D", :tabindex => 70}) %>
										</li>
										<li>
											<label for="article_expiry_date_id">Expiry Date:</label>
										</li>
										<li>
											<%= raw datetimepicker_input(:article, :expiry_date, {:minDate => -20, :maxDate => "+1M +10D", :tabindex => 70}) %>
										</li>
									</ul>
								</div><!--footer_editing_second-->
								<div class="footer_editing_middle">
									<ul>
										<li>
											<label for="article_editing_notes">Editing Notes:</label>
										</li>
										<%= text_area 'article', 'editing_notes', {:rows => 7, :cols => 40,:class=>"textarea_text"} %>
									</ul>
								</div><!--footer_editing_middle-->
							</div><!--footer_editing_notes-->
						</div>
					</form>
					</div>
					<%end%>
					</div><!--article_new_main-->
					</div><!-- container -->


<script>
 $(window).scroll(function(){
 if($(this).scrollTop()>175)
 {
 $(".article_top_links").css({"left":$(".article_new_main").offset().left})
  $(".article_top_links").addClass('fixed_button');
 }
 else
 {
  $(".article_top_links").removeClass('fixed_button');
 }
});
</script>

<script type="text/javascript" >
	tinyMCEOnDemand("tinyid_1")
</script>
